<!DOCTYPE html>
<html lang="en">
  <%- include("templates/head") %>
  <body>
    <%- include("templates/navbar") %>
    <br />
    <br />
    <div class="container mt-5">
      <h1 class="text-center">Informacion de usuario</h1>
      <br />
      <br />
      <div class="container mt-5">
        <form
          id="modificarCuenta"
          action="/micuenta"
          method="post"
          enctype="application/x-www-form-urlencoded"
        >
          <div class="">
            <div class="">
              <label class="form-label" for="nombre">Nombre</label>
              <input
                class="form-control"
                type="text"
                name="nombre"
                placeholder="Nombre"
                id="nombreMod"
                required
              />
            </div>
            <br />
            <div class="">
              <label class="form-label" for="direccion">Direccion</label>
              <input
                class="form-control"
                type="text"
                name="direccion"
                placeholder="Direccion"
                id="direccionMod"
                required
              />
            </div>
            <br />
            <div class="">
              <label class="form-label" for="telefono">Imagen</label>
              <input
                class="form-control"
                type="text"
                name="telefono"
                placeholder="Telefono"
                id="telefonoMod"
                required
              />
            </div>
            <br />
            <button type="submit" class="btn btn-success">Actualizar</button>
          </div>
          <br />
          <br />
        </form>
      </div>
    </div>
    <br />
    <br />
  </body>
  <script>
    document.getElementById("nombreMod").value = "<%= user.nombre %>";
    document.getElementById("direccionMod").value = "<%= user.direccion %>";
    document.getElementById("telefonoMod").value = "<%= user.telefono %>";
  </script>
</html>
